@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



@if (User?.Identity?.IsAuthenticated == true)
{
    // 用戶已認證
    <form method="post" asp-page="Account/Logout" >
        <h4>
        Welcome @User.Identity.Name
        </h4>
        <button  class="btn btn-primary" type="submit">Logout </button>
    </form>    
}
else
{
    // 用戶未認證
   <a class="btn btn-primary" asp-page="Account/Login"> Login </a>
}